:root {
  --font-size-blg: 3rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
}

@media (min-width: 480px) {
  :root {
    --font-size-blg: 3.75rem;
    --font-size-lg: 2.75rem;
    --font-size-md: 2rem;
    --font-size-sm: 1.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-blg: 4.5rem;
    --font-size-lg: 3.5rem;
    --font-size-md: 2.5rem;
    --font-size-sm: 1.2 rem;
  }
}

body {
  margin: 0px;
  background: #0a192f;
  font-family: "Noto Sans KR";
}

p {
  margin: 0px;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  background: #a9daff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background: #bad9f0;
}

ul {
  list-style: none;
  margin: 0;
}

h3,
h5 {
  margin: 0;
  font-weight: normal;
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
  margin: 0px;
}
.container {
  color: #fff;
}

.font-color-blue {
  color: #a9daff;
}

.first-step-wrap,
.second-step-wrap {
  /* margin-left: 329px;
  margin-top: 180px; */
  /* font-weight: 400; */
  /* 화면 크기에 맞는 높이 */
  height: 100vh;
  position: relative;
}

.first-step-wrap p:first-child {
  font-style: normal;
  font-size: 32px;
  line-height: 46px;
}

.first-step-wrap p:nth-child(2) {
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
}
.first-step-wrap p:nth-child(2) b {
  color: #a9daff;
}
.first-step-wrap p:nth-child(3) {
  margin: 10px 0px;
  font-size: var(--font-size-sm);
}
.first-step-wrap > div {
  margin-top: 15px;
  position: absolute;
  left: 40%;
  transform: translatex(-50%);
  top: 20%;
}

.second-container > div {
  display: flex;
}

.second-container > h3 {
  margin-bottom: 63px;
  font-weight: 700;
  font-size: 38px;
}

.career-menu-wrap {
  width: 180px;
  padding-inline-start: 0px;
  border-left: 1px solid grey;
}

.career-menu-wrap li {
  height: 58px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: #bababa;
  cursor: pointer;
}

.career-menu-wrap .selected {
  border-left: 2px solid #a9daff;
  background: #112240;
  font-weight: bold;
  color: #a9daff;
}

.career-menu-wrap li:hover {
  background: #112240;
  font-weight: bold;
  color: #a9daff;
}

.career-container {
  margin-left: 100px;
}

.career-container > div span {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #d7cfcf;
}

.career-container-wrap .text {
  font-weight: 400;
  font-size: 16px;
}

.career-container-wrap .text::before {
  width: 8px;
  height: 7px;
  content: "";
  background: #a9daff;
  transform: rotate(90deg);
  vertical-align: middle;
  display: inline-block;
}

.tab-wrap {
  position: fixed;
  top: 200px;
  right: 120px;
  display: flex;
  transition: all 1s;
}

.tab-wrap ul {
  padding: 0px 15px 0px 0px;
}
.tab-wrap ul > li {
  color: #a9daff;
  line-height: 70px;
  transition: all 1s;
}

.tab-wrap .selected {
  font-weight: bold;
}

.left-line {
  border-left: 1px solid #a9daff;
}

.circle-wrap {
  position: relative;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #a9daff;
  top: 0;
  right: 5px;
  left: -5px;
  border-radius: 10px;
  transition: all 1s;
}

.second-step-wrap {
  width: 100%;
  position: relative;
}

.second-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
