:root {
  --font-size-blg: 3rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
  --font-size-xsm: 0.75rem;
}

@media (min-width: 1024px) {
  :root {
    --font-size-blg: 4.5rem;
    --font-size-lg: 3.5rem;
    --font-size-md: 2.5rem;
    --font-size-sm: 1.2rem;
    --font-size-xsm: 1rem;
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-blg: 3.75rem;
    --font-size-lg: 2.75rem;
    --font-size-md: 2rem;
    --font-size-sm: 1.25rem;
    --font-size-xsm: 1.05rem;
  }
}

/* @media (min-width: 480px) {
  :root {
    --font-size-blg: 3.75rem;
    --font-size-lg: 2.75rem;
    --font-size-md: 2rem;
    --font-size-sm: 1.25rem;
    --font-size-xsm: 1.05rem;
  }
} */

body {
  margin: 0px;
  /* width: 100%; */
  background: #0a192f;
  font-family: "Noto Sans KR";
}

* {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  background: #a9daff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background: #bad9f0;
}

ul {
  list-style: none;
  margin: 0;
}

h3,
h5 {
  margin: 0;
  font-weight: normal;
}

#app {
  margin: 0px;
}
.container {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.font-color-blue {
  color: #a9daff;
}

.mt5 {
  margin-top: 5%;
}

.mt7 {
  margin-top: 7%;
}

.mt10 {
  margin-top: 10%;
}

section {
  height: 100vh;
  position: relative;
}

.section-title {
  font-size: var(--font-size-md);
  margin-bottom: 5%;
  font-weight: 700;
}

/* first-section start */
.first-step-wrap p:first-child {
  font-size: var(--font-size-lg);
  line-height: 46px;
}

.first-step-wrap p:nth-child(2) {
  font-size: var(--font-size-blg);
  line-height: 70px;
}

.first-step-wrap p:nth-child(3) {
  margin: 10px 0px;
  font-size: var(--font-size-xsm);
}

.first-step-wrap > div {
  margin-top: 15px;
  position: absolute;
  left: 40%;
  transform: translatex(-50%);
  top: 20%;
}

.tab-wrap {
  position: fixed;
  top: 200px;
  right: 120px;
  display: flex;
}

.tab-wrap ul {
  padding: 0px 15px 0px 0px;
}
.tab-wrap ul > li {
  color: #a9daff;
  line-height: 70px;
  cursor: pointer;
}

.tab-wrap .selected {
  font-weight: bold;
}

.career-menu-wrap {
  width: 20%;
  padding-inline-start: 0px;
  /* border-left: 1px solid grey; */
}

.career-menu-wrap li {
  /* width: ; */
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: #bababa;
  cursor: pointer;
  position: relative;
  border-left: 2px solid #bababa;
}

.career-menu-wrap .selected,
.career-menu-wrap li:hover {
  border-left: 2px solid #a9daff;
  background: #112240;
  font-weight: bold;
  color: #a9daff;
  transition: all 0.1s;
}

.career-container {
  margin-left: 10%;
  width: 80%;
}

.career-container > .title .date {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #d7cfcf;
}

.career-container-wrap > div {
  margin-top: 30px;
}

.career-container-wrap .main-text {
  font-weight: 400;
  font-size: 16px;
}

.career-container-wrap .main-text::before {
  width: 8px;
  height: 7px;
  content: "";
  background: #a9daff;
  transform: rotate(90deg);
  vertical-align: middle;
  display: inline-block;
}

.career-container-wrap .sub-text-wrap {
  margin: 10px 0px 5px 10px;
}

.career-container-wrap .sub-text-wrap p {
  margin: 5px 0px;
}

.second-step.contents-container > div {
  display: flex;
}

.career-container-wrap .sub-text-wrap {
  margin: 10px 0px 5px 10px;
}

.career-container-wrap .sub-text-wrap p {
  margin: 5px 0px;
}

.career-container-wrap .sub-text-wrap p::before {
  width: 5px;
  height: 5px;
  content: "";
  background: #fff;
  /* transform: rotate(90deg); */
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

.left-line {
  border-left: 1px solid #a9daff;
}

.circle-wrap {
  position: relative;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #a9daff;
  top: 0;
  right: 5px;
  left: -5px;
  border-radius: 10px;
  transition: all 0.5s;
}

.second-step-wrap {
  width: 100%;
  position: relative;
}

.contents-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.second-step.contents-container {
  top: 15%;
  width: 50%;
}

.third-step.contents-container {
  width: 60%;
  top: 14%;
}
.swiper-wrap {
  display: flex;
}

.third-step a {
  margin-right: 5%;
  width: 50%;
}

.third-step img {
  width: 100%;
}

.third-contents-wrap {
  width: 50%;
  display: flex;
  align-items: center;
}

.third-contents-wrap .sub-title {
  color: #d7cfcf;
  font-size: var(--font-size-xsm);
}

.third-contents-wrap .title {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.third-step .sub-contents-txt {
  font-size: var(--font-size-xsm);
  font-weight: 300;
}

.fourth-step.contents-container {
  top: 20%;
  width: 65%;
}

.fourth-step.contents-wrap {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

.fourth-step.contents-wrap > div {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.fourth-step > h3 {
  text-align: center;
}

.img-wrap {
  width: 100%;
  height: 100px;
}

.img-container {
  width: 100px;
}

@media (max-width: 1420px) {
  .third-contents-wrap .sub-title {
    color: #d7cfcf;
    font-size: 13px;
  }

  .third-contents-wrap .title {
    font-size: 15px;
    font-weight: 600;
  }

  .third-step .sub-contents-txt {
    font-size: 13px;
    font-weight: 300;
  }
}

@media (max-width: 1024px) {
  .career-menu-wrap {
    width: 140px;
  }

  .career-container {
    margin-left: 10%;
    width: 65%;
  }

  .tab-wrap {
    display: none;
  }

  .career-container-wrap .main-text {
    font-weight: 400;
    font-size: 14px;
  }

  .career-container-wrap .sub-text-wrap p {
    font-size: 13px;
  }
  .second-step.contents-container {
    width: 65%;
  }
  .third-step.contents-container {
    width: 80%;
  }
  .img-container {
    width: 70px;
  }
  .img-container span {
    font-size: 13px;
  }
  .img-wrap {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .first-step-wrap > div {
    left: 50%;
    width: 75%;
  }

  .first-step-wrap p:nth-child(2) {
    line-height: 55px;
  }

  .first-step-wrap p:nth-child(3) {
    font-size: var(--font-size-sm);
  }

  .career-menu-wrap {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  .career-menu-wrap li {
    /* width: ; */
    width: 100%;
    display: flex;
    align-items: center;
    color: #bababa;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #bababa;
    border-left: none;
    margin-bottom: 3%;
  }

  .career-menu-wrap .selected,
  .career-menu-wrap li:hover {
    border-bottom: 2px solid #a9daff;
    border-left: none;
  }

  .second-step.contents-container > div {
    display: block;
  }
  .second-step.contents-container {
    top: 15%;
    width: 80%;
  }
  .career-container {
    margin-left: 0%;
    width: 100%;
  }

  .swiper-wrap {
    display: block;
  }

  .third-contents-wrap {
    width: 100%;
  }

  .third-contents-wrap .title {
    font-size: 18px;
  }

  .third-step .sub-contents-txt {
    font-size: 15px;
  }
  .third-step img {
    width: 100%;
    text-align: center;
    height: 300px;
    object-fit: cover;
  }

  .img-container {
    width: 50px;
  }

  .img-wrap {
    height: 50px;
  }

  .fourth-step.contents-container {
    width: 80%;
    top: 30%;
  }
}

/* first-section end */
